/* ESTILOS HTML */
body{
    background-color: #ccc;
    margin: 0;
    padding: 0;
}
.cabeza{
    display: flex;
    justify-content: center;
    background-color: salmon;
    margin-top: 1%;
}

.cabeza p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 27px;
}


/* CONTENEDOR PRINCIPAL */
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}



/* ESTILOS DE LAS CARDS */
.personaje {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
    background-color: rgb(243, 99, 99);
    border: white 8px groove;
    
}

.personaje:hover {
    box-shadow: 14px 14px 10px 0 rgba(20, 20, 20, 0.3);
    width: 210px;
}

.personaje img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid;
}

.personaje p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
